:root {
  --font-family: 'Playfair Display', serif;
  --second-family: "Ubuntu", sans-serif;
}
:root {
  --font-color : #626262;
  --second-color : #b4ad9e;
}
body {
  font-family: var(--font-family);
  background-color: #fff;
  color: var(--font-color);
}

.contener {
  margin: auto;
  width: 1200px;
  padding: 0 147px;
}

.header {
  padding-top: 71px;
  padding-bottom: 92px;
  text-align: center;
  margin-left: -360px;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.header-link {
  font-family: var(--second-family);
  font-size: 14px;
  color: #7d7d7d;
  text-decoration: none;
}
.header-link:hover {
  color: #000;
}


.hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 63px;
}



.fotoblog-img {

  height: 280px;
  margin-bottom: 32px;
}

.fotoblog-subtitle {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 14px;
  color: #b4ad9e;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.fotoblog-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  color: #626262;
  margin-bottom: 40px;
}

.fotoblog-des {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #626262;
  line-height: 1.5;
  width: 420px;
  overflow: hidden;
}

.hero-button {
  width: 165px;
  height: 60px;
  border: 1px solid #626262;
  font-family: var(--font-family);
  font-size: 14px;
  color: #626262;
  background: rgb(255, 255, 255);
  margin-left: 357px;
  margin-right: 381px;
  margin-top: 90px;
  margin-bottom: 66px;
}

