:root {
  --font-family: 'Playfair Display', serif;
  --second-family: "Ubuntu", sans-serif;
}
:root {
  --font-color : #626262;
  --second-color : #b4ad9e;
  --hover-color : #03A9F4;
  --link-color : #7d7d7d;
}
body {
  font-family: var(--font-family);
  background-color: #fff;
  color: var(--font-color);
}

.contener {
  margin: auto;
  width: 906px;
  padding: 0 15px;
}

.header {
  padding-top: 71px;
  padding-bottom: 92px;
  text-align: center;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.header-link {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--link-color);
  text-decoration: none;
}
.header-link:hover {
  color: var(--hover-color);
}


.hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 63px;
}
.hero-item {
  flex-basis: calc((100% - 126px)/2);
}


.fotoblog-img {

  height: 280px;
  margin-bottom: 32px;
}

.fotoblog-subtitle {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 14px;
  color: var(--second-color);
  margin-bottom: 32px;
  text-transform: uppercase;
}

.fotoblog-title {
  font-size: 30px;
  color: var(--font-color);
  margin-bottom: 40px;
}

.fotoblog-des {
  font-size: 14px;
  color: var(--font-color);
  line-height: 1.5;
}

.hero-button {
  border: 1px solid #626262;
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--font-color);
  background: rgb(255, 255, 255);
  margin-left: 357px;
  margin-right: 381px;
  margin-top: 90px;
  margin-bottom: 66px;
  padding: 20.5px 48.5px;
}

