.header {
  padding-top: 71px;
  padding-bottom: 92px;
  text-align: center;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.header-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #7d7d7d;
  text-decoration: none;
  transition: color 0.3s;
}

.header-link:hover {
  color: #000;
}
